@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-VariableFont_wdth\wght.ttf);
}
/* : Colors */
:root {
  --tolkientext: #c8ece9;
  --promisetextcolor: #d3d4e4;
  --buttons: #ed4933;
  --backgroundtolkien: #21b2a6;
  --bigpromisebox: #505393;
  --footer: rgba(29, 36, 42, 0.9);
  --footerlinks: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: OpenSans, sans-serif;
  color: white;
}

h2 {
  font-size: 2.34rem;
  font-weight: 800;
  line-height: 175%;
  text-transform: uppercase;
  letter-spacing: 5.265px;
}

/* ! Header */

header {
  background: url(../img/header.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}
/* -Nav */
header nav {
  text-align: right;
  padding: 2.5rem 5rem;
  font-size: 1.4rem;
  letter-spacing: 3.12px;
  text-transform: uppercase;
  margin-bottom: 31.6rem;
}
header nav a {
  color: white;
  text-decoration: none;
}
/* -article */
header article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header article h1 {
  font-size: 2.8rem;
  letter-spacing: 6.825px;
  text-transform: uppercase;
  font-weight: 800;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 3.1rem;
}

header article p {
  font-size: 1.733rem;
  line-height: 165%;
  letter-spacing: 3.9px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.4rem;
}

.break::after {
  content: "\A";
  white-space: pre;
}

/* - Class Button */
.button {
  background-color: var(--buttons);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 3.12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3.8rem;
  border-radius: 3px;
}

/* !Section tolkien */

.tolkien {
  background-color: var(--backgroundtolkien);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10.4rem 20rem;
}

.tolkien h2 {
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  margin-bottom: 2.3rem;
}

.tolkien p {
  color: var(--tolkientext);
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  line-height: 165%;
  margin-bottom: 6.5rem;
  padding: 0 5rem;
}

/* - Icon Styling */

.tolkien div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.container {
  border: 2px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;

  width: 73px;
  height: 73px;
  transform: rotate(46deg);
}

.container img {
  transform: rotate(-45deg);
}

/* ! Section cities */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

/* - Article style */

.box img {
  width: 576px;
}

.box div {
  padding: 3.4rem 7rem;
}

.box div h2 {
  margin-bottom: 3rem;
}

.box div p {
  font-size: 1.7rem;
  line-height: 165%;
  letter-spacing: 1.3px;
  margin-right: 9rem;
}

.cities article:nth-of-type(1) {
  background-color: #2b343d;
}
.cities article:nth-of-type(2) {
  background-color: #273038;
}
.cities article:nth-of-type(3) {
  background-color: #242b33;
}

/* ! Section promise */

.promise {
  background-color: var(--bigpromisebox);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10rem;
}

/* -article header */

.promise-head {
  text-align: center;
  width: 60vw;
  padding: 7rem 0;
}

.promise-head h2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  margin: 3.1rem auto;
  padding-bottom: 3.1rem;
  width: 15vw;
}

.promise-head p {
  font-size: 1.7rem;
  line-height: 165%;
  letter-spacing: 1.3px;
  color: var(--promisetextcolor);
}

/* - grid boxen */
.grid {
  width: 70vw;
}

.grid div {
  padding: 7rem;
}

.grid div h3 {
  font-size: clamp(0.6rem, 2vw, 2rem);
  font-weight: 800;
  line-height: 175%;
  letter-spacing: 4.485px;
  text-transform: uppercase;
  margin-bottom: 2.6rem;
}

.grid div p {
  color: var(--promisetextcolor);
  font-size: 1.7rem;
  line-height: 165%;
  letter-spacing: 1.3px;
}

/* - grid box color */

.grid div:nth-of-type(1) {
  background-color: #4d508e;
}
.grid div:nth-of-type(2) {
  background-color: #4a4d89;
}
.grid div:nth-of-type(3) {
  background-color: #484a83;
}
.grid div:nth-of-type(4) {
  background-color: #45477e;
}
.grid div:nth-of-type(5) {
  background-color: #424479;
}
.grid div:nth-of-type(6) {
  background-color: #3f4174;
}

/* !Section contact */
.contact {
  background: url(../img/contact.png) no-repeat center;
  height: 50vh;
  background-size: cover;
}

.contact article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10.4rem;
  gap: 8rem;
}

.contact article div {
  width: 30vw;
}

.contact article div h2 {
  margin-bottom: 2.6rem;
}

.contact article div p {
  font-size: 1.7rem;
  line-height: 165%;
  letter-spacing: 1.3px;
}

/* !Footer */

footer {
  background-color: var(--footer);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.2rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  margin-bottom: 4.3rem;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.copyright p {
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--footerlinks);
  letter-spacing: 3.12px;
}

.copyright p:first-child {
  border-right: 2px solid var(--footerlinks);
  padding-right: 1.4rem;
}

.copyright a {
  color: var(--footerlinks);
  text-decoration: none;
  border-bottom: 1px dotted var(--footerlinks);
}

/* ! Hover effekte */

.button:hover {
  background-color: rgb(245, 92, 72);
}

.copyright a:hover {
  border-bottom: none;
}

.icons:hover {
  cursor: pointer;
  color: rgb(211, 211, 211);
}
